<div id="radiator">
    <div id="loading">
        <span class="glyphicon glyphicon-refresh loadingIndicator"></span>
        <p>Getting the latest data, just for you.</p>
    </div>
    <div id="stats-rollup" class="container stats-rollup">
        <h3>Successful <span id="successful-jobs" class="label label-success">?</span></h3>
        <h3>Building <span id="building-jobs" class="label label-warning">?</span></h3>
        <h3>Building <span id="unknown-jobs" class="label label-info">?</span></h3>
        <h3>Failed <span id="failed-jobs" class="label label-danger">?</span></h3>
        <h3>Total <span id="total-jobs" class="label label-primary">?</span></h3>
    </div>
    <table class="table" id="jobs"><tbody></tbody></table>
</div>

<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/handlebars-1.3.0.min.js"></script>
<script src="/js/underscore-1.6.0.min.js"></script>
<script src="/js/backbone-1.1.2.min.js"></script>

<script src="/js/waylon/settings.js"></script>

<script src="/js/waylon/model/job.js"></script>

<script src="/js/waylon/view/job.js"></script>
<script src="/js/waylon/view/weather.js"></script>
<script src="/js/waylon/view/investigate_menu.js"></script>
<script src="/js/waylon/view/radiator.js"></script>
<script src="/js/waylon/view/stats_rollup.js"></script>

<script src="/js/waylon/collection/job_collection.js"></script>

<script src="/js/waylon/app.js"></script>

<script>
var app = new Notochord.App({view: '<%= @view_name %>'});
app.run();
</script>
