---
config:
  refresh_interval: 120  # refresh interval (in seconds)
  trouble_threshold: 10  # number of failed jobs before trouble mode kicks in
  memcached_server: './tmp/memcached.sock'
views:
  'My View':
    jenkins-dev:
      url: https://jenkins-dev.example.com
      username: 'waylon'
      password: 'topsecretpw'
      jobs:
        - 'Product A Job 1'
        - 'Product A Job 2'
      views:
        - 'Product B Stable'
        - 'Product B Master'
      nested_views:
        'Product C':
          - 'stable'
          - 'master'
    jenkins-release:
      url: http://jenkins-release.example.com
      jobs:
        - 'Product A Packaging'
        - 'Product A Ship to Repos'
